{% extends "UserBundle::layout2.html.twig" %}


{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Liste des Plannings
            </h1>

        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

            <table border="1">
                <tr><th><a href="{{ path('ajout_Planning') }}" >Ajouter</a></th></tr>

                <tr>
                    <th>ID</th>
                    <th>Arbitre</th>
                    <th>Date de Debut</th>
                    <th>Date de Fin </th>
                </tr>
                {% for v in plannings %}
                <tr>
                    <td>{{v.id  }}</td>
                    <td>{{ v.idArbitre.nom }}</td>
                    <td>{{ v.dateDebut | date }}</td>
                    <td>{{ v.dateFin | date }}</td>
                    <td><a href="{{ path('delte_Planning',{'id':v.id}) }}" >Delete</a></td>
                    <td><a href="{{ path('update_Planning',{'id':v.id}) }}">Update</a></td>

                    {% endfor %}

                </tr>


            </table>


        </div>
    </div>
    <!-- /.row -->

{% endblock %}