{% extends "UserBundle::layout2.html.twig" %}


{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Ajout d'un Planning
            </h1>

        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            {{ form(formes) }}
            {{ form_errors(formes) }}
        </div>

    </div>
    <!-- /.row -->


{% endblock %}

{% block omar %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset='utf-8' />
        <link href= " {{ asset('calendrier/css/fullcalendar.css') }}"    rel='stylesheet' />
        <link href= " {{ asset('calendrier/css/fullcalendar.print.css') }}"    rel='stylesheet' />
        <script src= "{{ asset('calendrier/js/jquery-2.1.4.min.js') }}" ></script>
        <script src= "{{ asset('calendrier/js/jquery-ui-1.10.2.custom.min.js') }}"  ></script>
        <script src= "{{ asset('calendrier/js/fullcalendar.min.js') }}" ></script>

        <script>
            $(document).ready(function () {

                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();
                var calendar = $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    editable: true,
                    selectable: true,
                    selectHelper: true,
                    select: function (start, end, allDay) {

                        start = $.fullCalendar.formatDate(start, "yyyy-MM-dd");
                        var title= confirm(" la date de debut sera "+start+"?");
                        if (title){
                            end = $.fullCalendar.formatDate(end, "yyyy-MM-dd");
                            var title= confirm(" la date de fin sera "+start+"?");

                        }

                        //  var title = prompt('Event Title:');

                        if (title) {
                            {#var path = "{{ path('AddEvent') }}";#}
                            var path = "{{ path('ajout_Planning') }}";

                            $.ajax({
                                url: path,
                                type: "POST",
                                data: 'title=' + title + '&start=' + start + '&end=' + end,
                                success: function (json) {
                                    alert('OK');
                                    // toastr.success(json.data.text);
                                    location.reload();
                                }
                            });
                            calendar.fullCalendar('renderEvent',
                                    {
                                        title: title,
                                        start: start,
                                        end: end,
                                        allDay: allDay
                                    },
                                    true // make the event "stick"
                            );
                        }
                        calendar.fullCalendar('unselect');
                    },
                    editable: true
                    {#,#}
                    {#events: [{% for i in entities %}#}
                        {#{id: '{{i.id}}',#}
                            {#start: new Date({{i.dateDebut|date('20y')}},{{i.dateDebut|date('m')-1}} ,{{i.dateDebut|date('d')}} )#}
                        {#},{% endfor%}#}
                    {#]#}

                });
            });
        </script>
        <style>

            body {
                margin: 40px 10px;
                padding: 0;
                font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
                font-size: 14px;
            }

            #calendar {
                max-width: 200px;
                margin: 0 auto;
            }


        </style>
    </head>
    <body>

    <div id='calendar'></div>

    </body>
    </html>
{% endblock %}



