{% extends 'UserBundle::layout2.html.twig' %}

{% block content %}
<div class="container background-white">
    <div class="row" id="r2">
        <div class="col-lg-3"> </div>
        <div class="col-lg-6 panel panel-primary" id="formAjout">
    <h1 align="center">Modification du Match</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('match_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul> </div></div></div></div>
{% endblock %}
