{% extends 'UserBundle::layout2.html.twig' %}

{% block content %}
    <div class="container background-white">
        <div class="panel-heading">
            <h1 align="center">Liste des Matchs</h1></div>
        <div class="col-lg-12  " style=" max-height:500px; overflow:auto;">

            <table class="table  table-hover table-striped header-fixed" id="mytab">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Nbrticketsdispo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td><a href="{{ path('match_show', { 'id': match.id }) }}">{{ match.id }}</a></td>
                <td>{% if match.date %}{{ match.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ match.nbrTicketsDispo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('match_show', { 'id': match.id }) }}"><button name="show" class="btn btn-danger" value="" id="btn-supp" >Afficher</button></a>
                        </li>
                        <li>
                            <a href="{{ path('match_edit', { 'id': match.id }) }}"><button name="modif" class="btn btn-warning" value="" id="btn-modif" >Modifier</button></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('match_new') }}"><button class="btn  btn-primary" id="btn-aj" > <i class="fa fa-plus-circle" >Crier un nouveau match</i></button></a>
        </li>
    </ul> <div>
                <form class="navbar-form navbar-right" method="post" action="{{ path('match_recherche') }}">
                    <ul><input type="text" class="form-control" placeholder="Search..." name="motcle"></ul>

                </form>
            </div></div></div></div></div>
{% endblock %}
