{% extends 'UserBundle::layout2.html.twig' %}
{% block content %}
    <div class="container background-white" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
    <div class=""><h1 align="center">Resultat de votre recherche</h1></div>
    <div class="col-lg-12  " style=" max-height:500px; overflow:auto;">









<li>{{ listmatch.idJoueur1.nom }}
    {{ listmatch.idJoueur1.prenom }} contre {{ listmatch.idJoueur2.nom }} {{ listmatch.idJoueur2.prenom }}</li>


{% endblock %}