{% extends 'UserBundle::layout2.html.twig' %}
{% block content %}
<div class="container background-white">
    <div class="panel-heading">
        <h1 align="center">Liste des Matchs</h1></div>
    <div class="col-lg-12  " style=" max-height:500px; overflow:auto;">
    <h1>Match</h1>

    <table class="table  table-hover table-striped header-fixed" id="mytab">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if match.date %}{{ match.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nbrticketsdispo</th>
                <td>{{ match.nbrTicketsDispo }}</td>
            </tr>
            <tr>
                <th>Joueur</th>
                <td><a href="">{{ match.idJoueur1 }} </a> VS <a href=""> {{ match.idJoueur2 }}</a></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('match_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('match_edit', { 'id': match.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul></div></div>
{% endblock %}
