<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Title -->
    <title>Lifeztyle - Professional Bootstrap Template</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Favicon -->
    <link href="{{ asset("favicon.ico") }}" rel="shortcut icon">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/nexus.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" type="text/css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
</head>
<body>

<div id="body-bg">
    <ul class="social-icons pull-right hidden-xs">
        <li class="social-rss">
            <a href="#" target="_blank" title="RSS"></a>
        </li>
        <li class="social-twitter">
            <a href="#" target="_blank" title="Twitter"></a>
        </li>
        <li class="social-facebook">
            <a href="#" target="_blank" title="Facebook"></a>
        </li>
        <li class="social-googleplus">
            <a href="#" target="_blank" title="GooglePlus"></a>
        </li>
    </ul>
    <div id="pre-header" class="container" style="height:340px">
    </div>
    <div id="header">
        <div class="container">
            <div  class="row ">
                <!-- Logo -->
                <div class="logo ">
                    <a href="localhost/AllWin/web/app_dev.php/test/login" title="">
                        <img src="{{ asset('assets/img/logo.png') }}" alt="Logo" />
                    </a>
                </div>
                <!-- End Logo -->
            </div>
        </div>
    </div>
    <!-- Top Menu -->
    {% block topMenu %}
    {% endblock topMenu %}
    <!-- End Top Menu -->
    <div id="post_header" class="container" style="height:340px">
    </div>
    <div id="content-top-border" class="container">
    </div>

    <!-- === END HEADER === -->
    <!-- === BEGIN CONTENT === -->
    <div id="content">
        {% block content %}
        {% endblock %}
        {% block tdedit %}
        {% endblock %}
        {% block tdnew %}
        {% endblock %}
        {% block tdshow %}
        {% endblock %}
        {% block crshow %}
        {% endblock %}
        {% block credit %}
        {% endblock %}
        {% block crnew %}
        {% endblock %}
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    {% block footer %}
        <div id="content-bottom-border" class="container">
        </div>
        <div id="base">
            <div class="container padding-vert-30 margin-top-60">
                <div class="row">
                    <!-- Contact Details -->
                    <div class="col-md-4 margin-bottom-20">
                        <h3 class="margin-bottom-10">Contact Details</h3>
                        <p>
                            <span class="fa-phone">Telephone:</span>(212)888-77-88
                            <br>
                            <span class="fa-envelope">Email:</span>
                            <a href="mailto:info@joomla51.com">info@joomla51.com</a>
                            <br>
                            <span class="fa-link">Website:</span>
                            <a href="http://www.joomla51.com">www.joomla51.com</a>
                        </p>
                        <p>The Dunes, Top Road,
                            <br>Strandhill,
                            <br>Co. Sligo,
                            <br>Ireland</p>
                    </div>
                    <!-- End Contact Details -->
                    <!-- Sample Menu -->
                    <div class="col-md-3 margin-bottom-20">
                        <h3 class="margin-bottom-10">Sample Menu</h3>
                        <ul class="menu">
                            <li>
                                <a class="fa-tasks" href="#">Placerat facer possim</a>
                            </li>
                            <li>
                                <a class="fa-users" href="#">Quam nunc putamus</a>
                            </li>
                            <li>
                                <a class="fa-signal" href="#">Velit esse molestie</a>
                            </li>
                            <li>
                                <a class="fa-coffee" href="#">Nam liber tempor</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- End Sample Menu -->
                    <div class="col-md-1"></div>
                    <!-- Disclaimer -->
                    <div class="col-md-3 margin-bottom-20 padding-vert-30 text-center">
                        <h3 class="color-gray margin-bottom-10">Join our Newsletter</h3>
                        <p>
                            Sign up for our newsletter for all the
                            <br>latest news and information
                        </p>
                        <input type="email">
                        <br>
                        <button class="btn btn-primary btn-lg margin-top-20" type="button">Subscribe</button>
                    </div>
                    <!-- End Disclaimer -->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Footer Menu -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div id="footermenu" class="col-md-8">
                    </div>
                    <div id="copyright" class="col-md-4">
                        <p class="pull-right">(c) 2014 Your Copyright Info</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <!-- End Footer Menu -->
    <!-- JS -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/js/scripts.js') }}"></script>
    <!-- Isotope - Portfolio Sorting -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.isotope.js') }}" type="text/javascript"></script>
    <!-- Mobile Menu - Slicknav -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.slicknav.js') }}" type="text/javascript"></script>
    <!-- Animate on Scroll-->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.visible.js') }}" charset="utf-8"></script>
    <!-- Sticky Div -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.sticky.js') }}" charset="utf-8"></script>
    <!-- Slimbox2-->
    <script type="text/javascript" src="{{ asset('assets/js/slimbox2.js') }}" charset="utf-8"></script>
    <!-- Modernizr -->
    <script src="{{ asset('assets/js/modernizr.custom.js') }}" type="text/javascript"></script>
    {% block myscript %}
    {% endblock %}
</div>
</body>
</html>
<!-- === END FOOTER === -->