<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('assets2/css/sb-admin.css') }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ asset('assets2/css/plugins/morris.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('assets2/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">



</head>

<body>


<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Super Admin</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>{{ username }}</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>{{ username }}</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">View All</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="{{ path('my_app_mail_homepage') }}"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">

                <li>
                    <a href="{{ path('creer_compte') }}"><i class="fa fa-user"></i> Comptes</a>
                </li>

                <li class="active">
                    <a href="{{ path("acceuil_SuperAdmin_homepage") }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>

                <li>
                    <a href="{{ path('gestion_evenement') }}"><i class="fa fa-fw fa-calendar-o"></i> Evenements</a>
                </li>
                <li>
                    <a href="{{ path('match_index') }}"><i class="fa fa-fw fa-edit"></i> Matchs</a>
                </li>
                <li>
                    <a href="{{ path('competition_index') }}"><i class="fa fa-fw fa-edit"></i> Competitions</a>
                </li>
                <li>
                    <a href="{{ path('afficher_Joueur') }}"><i class="fa fa-fw fa-edit"></i> Joueurs</a>
                </li>
                <li>
                    <a href="{{ path('afficher_Reservation') }}"><i class="fa fa-fw fa-calendar-o"></i> Reservation</a>                </li>
                <li>
                <li>
                    <a href="{{ path('afficher_Planning') }}"><i class="fa fa-fw fa-calendar-o"></i> Plannigs</a>                </li>
                <li>
                <li>
                    <a href="{{ path('stade_index') }}"><i class="fa fa-fw fa-edit"></i> Stades</a>
                </li>
                <li>
                    <a href="{{ path('testdopage_index') }}"><i class="fa fa-user"></i> testDopage</a>
                </li>
                <li>
                    <a href="{{ path('compterendumatch_index') }}"><i class="fa fa-user"></i> Comptes Rendu des matchs</a>
                </li>
                <li>
                    <a href="{{ path('crtestdop_index') }}"><i class="fa fa-user"></i> Comptes Rendu des testDopage</a>
                </li>



            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>


    <div id="page-wrapper">

        <div class="container-fluid">
        {% block content %}
        {% endblock %}
            {% block contentstade %}
            {% endblock %}
            {% block stadeedit %}
            {% endblock %}
            {% block stadeshow %}
            {% endblock %}
            {% block stadnew %}
            {% endblock %}
            {% block testdopage %}
            {% endblock %}
            {% block tdshow %}
            {% endblock %}
            {% block tdnew %}
            {% endblock %}
            {% block tdedit %}
            {% endblock %}
            {% block cr %}
            {% endblock %}
            {% block credit %}
            {% endblock %}
            {% block crnew %}
            {% endblock %}
            {% block crshow %}
            {% endblock %}


        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->


<script src="{{ asset('assets2/js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('assets2/js/bootstrap.min.js') }}"></script>

<!-- Morris Charts JavaScript -->
<script src="{{ asset('assets2/js/plugins/morris/raphael.min.js') }}"></script>


{% block assets %}
{% endblock assets %}

</body>

</html>
