<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script>

        var xhr= new XMLHttpRequest();
        xhr.open("POST","{{ path('fos_user_security_check') }}",true);
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xhr.send("_username=mahdi&_password=mahdi&_csrf_token=Oy___PWGkyAH4XEdSVLMAI5kd8pKNznwnXO3LZNhbBc");
        xhr.onreadystatechange = result;
        function result()
        {
            document.getElementById("div").innerHTML='OK'; // xhr.responseText;
        }
    </script>
</head>
<body>

<div id="div">
     <div></div>
</div>

</body>
</html>