{% extends "UserBundle::layout.html.twig" %}

    {% block topMenu %}
        {% include "UserBundle:acceuil:acceuilMenuBar.html.twig" %}
    {% endblock topMenu%}


{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}



<div class="container background-white">
    <div class="container">
        <div class="row margin-vert-30">
            <!-- Login Box -->
            <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
                <form class="login-page" action="{{ path("fos_user_security_check") }}" method="post">

                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="login-header margin-bottom-30">
                        <h2>Login to your account</h2>
                    </div>
                    <div class="input-group margin-bottom-20">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                        <input placeholder="Username" class="form-control" id="username" type="text" name="_username" value="{{ last_username }}" required="required">
                    </div>
                    <div class="input-group margin-bottom-20">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                        <input placeholder="Password" class="form-control" id="password" type="password" name="_password" required="required">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="checkbox">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on">Stay signed in</label>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary pull-right" type="submit"  id="_submit" name="_submit">Login</button>
                        </div>
                    </div>
                    <hr>
                    <h4>Forget your Password ?</h4>
                    <p>
                        <a href="#">Click here</a>to reset your password.</p>
                </form>
            </div>
            <!-- End Login Box -->
        </div>
    </div>
</div>

{% endblock content %}