{% extends 'UserBundle::layout2.html.twig' %}

{% block body %}
    <h1>Stades list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Capacite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stade in stades %}
            <tr>
                <td><a href="{{ path('stade_show', { 'id': stade.id }) }}">{{ stade.id }}</a></td>
                <td>{{ stade.nom }}</td>
                <td>{{ stade.adresse }}</td>
                <td>{{ stade.capacite }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('stade_show', { 'id': stade.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('stade_edit', { 'id': stade.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stade_new') }}">Create a new stade</a>
        </li>
    </ul>
{% endblock %}
