{% extends 'UserBundle::layout2.html.twig' %}

{% block stadnew %}
    <h1>Stade creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('stade_index') }}">Back to the list</a>

        </li>
    </ul>
{% endblock %}
