{% extends 'UserBundle::layout2.html.twig' %}

{% block stadeshow %}
    <h1>Stade{{ stade.nom }}</h1>

    <table class="table  table-hover table-striped header-fixed" id="mytab">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stade.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ stade.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ stade.adresse }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ stade.capacite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stade_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stade_edit', { 'id': stade.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
