{% extends 'UserBundle::layout2.html.twig' %}

{% block content %}
<div class="container background-white">
    <div class="panel-heading">
        <h1 align="center">Liste des comptes rendu</h1></div>
    <div class="col-lg-12  " style=" max-height:500px; overflow:auto;">


    <table class="table  table-hover table-striped header-fixed" id="mytab">
        <thead>
            <tr>
                <th>Id</th>
                <th>Resultat</th>
                <th>Detailmatch</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compteRenduMatch in compteRenduMatches %}
            <tr>
                <td><a href="{{ path('compterendumatch_show', { 'id': compteRenduMatch.id }) }}">{{ compteRenduMatch.id }}</a></td>
                <td>{{ compteRenduMatch.resultat }}</td>
                <td>{{ compteRenduMatch.detailMatch }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('compterendumatch_show', { 'id': compteRenduMatch.id }) }}"><button name="show" class="btn btn-danger" value="" id="btn-supp" >Afficher</button></a>
                        </li>
                        <li>
                            <a href="{{ path('compterendumatch_edit', { 'id': compteRenduMatch.id }) }}">                                           <button name="modif" class="btn btn-warning" value="" id="btn-modif" >Modifier</button></a>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('compterendumatch_new') }}"><button class="btn  btn-primary" id="btn-aj" > <i class="fa fa-plus-circle" >Crier un nouveau compte rendu</i></button></a>
        </li>
    </ul></div></div></div></div>
{% endblock %}
