{% extends 'UserBundle::layout2.html.twig' %}

{% block content %}
<div class="container background-white">
    <div class="row" id="r2">
        <div class="col-lg-3"> </div>
        <div class="col-lg-6 panel panel-primary" id="formAjout">
    <h1>Crier votre compte  rendu </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('compterendumatch_index') }}">Back to the list</a>
        </li>
    </ul> </div></div></div></div>
{% endblock %}
