{% extends 'UserBundle::layout2.html.twig' %}

{% block content %}
<div class="container background-white">
    <div class="panel-heading">
        <h1 align="center">Liste des compte rendu</h1></div>
    <div class="col-lg-12  " style=" max-height:500px; overflow:auto;">


    <table class="table  table-hover table-striped header-fixed" id="mytab">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compteRenduMatch.id }}</td>
            </tr>
            <tr>
                <th>Resultat</th>
                <td>{{ compteRenduMatch.resultat }}</td>
            </tr>
            <tr>
                <th>Detailmatch</th>
                <td>{{ compteRenduMatch.detailMatch }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('compterendumatch_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('compterendumatch_edit', { 'id': compteRenduMatch.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul></div></div>
{% endblock %}
