{% extends 'UserBundle::layout2.html.twig' %}

{% block content %}
<div class="container background-white">
    <div class="panel-heading">
        <h1 align="center">Liste des competitions</h1></div>
    <div class="col-lg-12  " style=" max-height:500px; overflow:auto;">



    <table class="table  table-hover table-striped header-fixed" id="mytab">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
            <tr>
                <td><a href="{{ path('competition_show', { 'id': competition.id }) }}">{{ competition.id }}</a></td>
                <td>{{ competition.nom }}</td>
                <td>{% if competition.dateDebut %}{{ competition.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if competition.dateFin %}{{ competition.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ competition.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('competition_show', { 'id': competition.id }) }}"><button name="show" class="btn btn-danger" value="" id="btn-supp" >Afficher</button></a>
                        </li>
                        <li>
                            <a href="{{ path('competition_edit', { 'id': competition.id }) }}"><button name="modif" class="btn btn-warning" value="" id="btn-modif" >Modifier</button></a>

                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('competition_new') }}"><button class="btn  btn-primary" id="btn-aj" > <i class="fa fa-plus-circle" >Crier une nouvelle competitions</i></button></a>
        </li>
    </ul></div></div></div></div>
{% endblock %}
