{% extends 'UserBundle::layout2.html.twig' %}

{% block content %}
<div class="container background-white">
    <div class="panel-heading">
        <h1 align="center">Liste des competitions</h1></div>
    <div class="col-lg-12  " style=" max-height:500px; overflow:auto;">


    <table class="table  table-hover table-striped header-fixed" id="mytab">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competition.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ competition.nom }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if competition.dateDebut %}{{ competition.dateDebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if competition.dateFin %}{{ competition.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ competition.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('competition_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('competition_edit', { 'id': competition.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul></div></div>
{% endblock %}
