{% extends 'UserBundle::layout2.html.twig' %}

{% block cr %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                conte rendu test dopage
            </h1>

        </div>
    </div>
    <!-- /.row -->
<div class="row panel panel-default " id="r1" >


    <div class="panel-heading">

        <h2 align="center "> Liste des stades </h2>
    </div>
    <div class="col-lg-12  " style=" max-height:500px; overflow:auto;">

    <table class="table  table-hover table-striped header-fixed" id="mytab">
        <thead>
        <tr>

            <th>Enonce</th>
            <th>Destinataire</th>
            <th>Expediteur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for cRTestDop in cRTestDops %}
            <tr>

                <td>{{ cRTestDop.enonce }}</td>
                <td>{{ cRTestDop.destinataire }}</td>
                <td>{{ cRTestDop.expediteur }}</td>
                <td>
                    <ul>
                        <li>
                            <button  class="btn btn-green"  style="background-color:#4CAF50" >
                            <a href="{{ path('crtestdop_show', { 'id': cRTestDop.id }) }}"><p style="color: #FFFFFF">Afficher   </p></a>
                        </button>
                        </li>
                        <li>
                            <button  class="btn btn-warning" >
                            <a href="{{ path('crtestdop_edit', { 'id': cRTestDop.id }) }}"><p style="color: #FFFFFF">Modifier</p></a>
                            </button>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        /div>
        <div class="panel-footer">


            <button class="btn  btn-primary" id="btn-aj"> <i class="fa fa-plus-circle"> </i><a href="{{ path('stade_new') }}"><p style="color: white">ajouter</p></a> <p style="color: white" value="Create"></p>
            </button>

        </div>

    <ul>
        <li>
            <a href="{{ path('crtestdop_new') }}">Create a new cRTestDop</a>
        </li>
    </ul>
{% endblock %}
        {% block assets %}

        {% endblock  assets %}
