{% extends "UserBundle::layout2.html.twig" %}

{% block content %}

    <!-- Page Heading -->
    <div class="row">

    </div>
    <!-- /.row -->
    <div class="row panel panel-default " id="r1" >


        <div class="panel-heading">
            <h2 align="center "> Liste des Evenements </h2>
        </div>
        <div class="col-lg-12  " style=" max-height:490px; overflow:auto;">

            <table class="table  table-hover table-striped header-fixed" id="mytab">

                <thead>
                <tr>
                    <th width="50px"></th>
                    <th>Titre </th>
                    <th width="40%"> Description</th>
                    <th> Adresse</th>
                    <th> Date Debut</th>
                    <th>Date Fin </th>
                </tr>
                </thead>


                <tbody>
                {% for e in events %}
                    <tr>
                        <td class="check"> <input type="checkbox" name="sel" value="{{ e.id }}" onclick="selection()">   </td>
                        <td class="tt">{{ e.titre }}  </td>
                        <td class="desc" width="40%">

                            {%  if e.photo is not null %}
                            <img src="{{ asset('uploads/event_photos/' ~ e.photo) }}" align="left" width="100px" height="100px">
                            {% endif %}
                            <p  word-wrap="break-word">{{ e.description}}</p>

                        </td>
                        <td class="adr">{{ e.adresse}} </td>
                        <td class="dd"> {{  e.dateDebut | date("m/d/Y") }} </td>
                        <td class="df"> {{  e.dateFin | date("m/d/Y") }} </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="panel-footer">
            <br>
            <hr>
            <button class="btn  btn-primary" id="btn-aj"> <i class="fa fa-plus-circle"> Ajouter</i></button>
            <button name="supp" class="btn btn-danger" value="" id="btn-supp" onclick="supprimer();"> Supprimer </button>
            <button name="modif" class="btn btn-warning" value="" id="btn-modif" onclick="modifier();">Modifier</button>
        </div>

    </div>
    <br>

    <div class="row" id="r2">
        <div class="col-lg-3"> </div>
        <div class="col-lg-6 panel panel-primary" id="formAjout">


            <div class="col-lg-12">
            {{ form_start(forms,{'attr':{'id': 'frm'}} ) }}
            {{ form_errors(forms) }}
                <br/>
            {{ form_label(forms.titre, "Titre") }}
            {{ form_widget(forms.titre, {'id': 'tt'} ) }}
                <br/>
            {{ form_label(forms.photo) }}
            {{ form_widget(forms.photo, {'id': 'loader'} ) }}
                <br/>
            {{ form_label(forms.adresse, "Adresse") }}
            {{ form_widget(forms.adresse, {'id': 'adr'} ) }}
                <br/>
            {{ form_label(forms.dateDebut, "Date Debut") }}
            {{ form_widget(forms.dateDebut,  {'id': 'dd'} ) }}
                <br/>

            {{ form_label(forms.dateFin, "Date Fin") }}
            {{ form_widget(forms.dateFin,  {'id': 'df'} ) }}
                <br/>
            </div>


            <div class="col-lg-12">
            {{ form_label(forms.description, "Description") }}
            </div>



                    <div class="col-lg-8" style="height:170px ">
                        {{ form_widget(forms.description,  {'id': 'desc'} ) }}
                    </div>
                    <div class="col-lg-4" align="right">
                        <img style="height: 170px; width:180px; " id="yy" src="">

                     </div>



            <div class="col-lg-12">
                <hr/>
            </div>

            <div class="col-lg-2">
                    <input type="submit" class="btn btn-success" value="Valider"/>
            </div>

            {{ form_rest(forms) }}
            {{  form_end(forms) }}

            <div class="col-lg-3">
                    <button class="btn btn-danger" id="btn-an" onclick="vider();">Annuler </button>
            </div>
            <div class="col-lg-12">
                <hr/>


            </div>





        </div>






    </div>
    <!-- /.row -->

{% endblock content %}

{% block assets %}
    <script src="{{ asset('assets2/houssein.js') }}">  </script>
    <script >
        function supprimer() {

            var xhr= new XMLHttpRequest();
            xhr.open("POST","{{ path('gestion_evenement_supprimer') }}",true);
            xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xhr.send("ids="+JSON.stringify(vals));
            xhr.onreadystatechange = result;
            function result()
            {
                window.location = "{{ path('gestion_evenement') }}";

                //document.getElementById("dynamic").innerHTML= xhr.responseText;
            }

        }


    </script>
{% endblock  assets %}
