{% extends "UserBundle::layout2.html.twig" %}

{% block contentstade %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Evenements
            </h1>

        </div>
    </div>
    <!-- /.row -->
    <div class="row panel panel-default " id="r1" >


        <div class="panel-heading">

            <h2 align="center "> Liste des stades </h2>
        </div>
        <div class="col-lg-12  " style=" max-height:500px; overflow:auto;">

            <table class="table  table-hover table-striped header-fixed" id="mytab">
                <thead>
                <tr>

                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Capacite</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for stade in stades %}
                    <tr>


                        <td>{{ stade.nom }}</td>
                        <td><a href="{{ path('afficher_map') }}"><p style="color:black">{{ stade.adresse }}</p></a></td>
                        <td>{{ stade.capacite }}</td>
                        <td>
                            <ul style="list-style-type:none;">
                                <li>
                                    <button  class="btn btn-green"  style="background-color:#4CAF50" >
                                    <a href="{{ path('stade_show', { 'id': stade.id }) }}"> <p style="color: #FFFFFF">Afficher   </p></a>
                                    </button>
                                </li>
                                <li>
                                    <button  class="btn btn-warning" >
                                    <a href="{{ path('stade_edit', { 'id': stade.id }) }}"><p style="color: #FFFFFF">Modifier</p></a>
                                    </button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">


            <button class="btn  btn-primary" id="btn-aj"> <i class="fa fa-plus-circle"> </i><a href="{{ path('stade_new') }}"><p style="color: white">ajouter</p></a> <p style="color: white" value="Create"></p>
                    </button>

        </div>

    </div>
    <!-- /.row -->
{% endblock contentstade %}


{% block assets %}

{% endblock  assets %}
