{% extends 'UserBundle::layout2.html.twig' %}

{% block testdopage %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                TESTS DOPAGES
            </h1>

        </div>
    </div>
    <!-- /.row -->
<div class="row panel panel-default " id="r1" >


    <div class="panel-heading">

        <h2 align="center "> Liste des test dopages </h2>
    </div>
    <div class="col-lg-12  " style=" max-height:500px; overflow:auto;">


    <h1>Testdopages list</h1>

    <table class="table  table-hover table-striped header-fixed" id="mytab">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Adresse</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for testDopage in testDopages %}
            <tr>
                <td><a href="{{ path('testdopage_show', { 'id': testDopage.id }) }}">{{ testDopage.id }}</a></td>
                <td>{% if testDopage.date %}{{ testDopage.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ testDopage.adresse }}</td>
                <td>
                    <ul>
                        <li>
                            <button  class="btn btn-green"  style="background-color:#4CAF50" >
                            <a href="{{ path('testdopage_show', { 'id': testDopage.id }) }}"><p style="color: #FFFFFF">Afficher   </p></a>
                            </button>
                        </li>
                        <li>
                            <button  class="btn btn-warning" >
                            <a href="{{ path('testdopage_edit', { 'id': testDopage.id }) }}"><p style="color: #FFFFFF">modifier  </p></a>
                            </button>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="panel-footer">


        <button class="btn  btn-primary" id="btn-aj"> <i class="fa fa-plus-circle"> </i><a href="{{ path('stade_new') }}"><p style="color: white">ajouter</p></a> <p style="color: white" value="Create"></p>
        </button>

    </div>

</div>

    <ul>
        <li>
            <a href="{{ path('testdopage_new') }}">Create a new testDopage</a>
        </li>
    </ul>
{% endblock testdopage  %}


{% block assets %}

{% endblock  assets %}

