{% trans_default_domain 'FOSUserBundle' %}




    <div class="row margin-vert-30">
        <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
            <div class="signup-header" >
                <h2>Register a new account</h2>
                <p>Already a member? Click
                    <a href="{{ path('fos_user_security_login') }}">HERE</a>to login to your account.</p>
            </div>
            {{ form_start(form,{'attr':{'class': 'signup-page'}} ) }}
            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            {{ form_label(form.username, "UserName",{}) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control margin-bottom-20'}}) }}


            <div style="display:none;">
                {{ form_widget(form.roles ) }}
            </div>



            {{ form_rest(form) }}


            <select name="fos_user_registration_form[roles][]" required="required"  class="form-control" multiple="multiple">

                <option value="ROLE_CLIENT">User</option>

            </select>


            <hr>
            <div class="row">
                <div class="col-lg-8">
                    <label class="checkbox">
                        <input type="checkbox">I read the
                        <a href="#">Terms and Conditions</a>
                    </label>
                </div>
                <div class="col-lg-4 text-right">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </div>


            {{ form_end(form) }}

        </div>
    </div>




