{% extends "UserBundle::layout2.html.twig" %}

{% block content %}
{% block fos_user_content %}
<div class="container background-white">
{% include "FOSUserBundle:Registration:register_content1.html.twig" %}
{% endblock fos_user_content %}
    </div>
{% endblock  %}


