{% extends "UserBundle::layout.html.twig" %}
{% block header %}
    {% block topMenu %}
        {% include "UserBundle:acceuil:acceuilMenuBar.html.twig" %}
    {% endblock topMenu%}
{% endblock header %}
{% block content %}
{% block fos_user_content %}
<div class="container background-white">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
    </div>
{% endblock  %}


