{% extends 'UserBundle:User:acceuilUser.html.twig' %}

{% block cr %}
    <h1>Crtestdops list</h1>

    <table>
        <thead>
            <tr>

                <th>Enonce</th>
                <th>Destinataire</th>
                <th>Expediteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cRTestDop in cRTestDops %}
            <tr>

                <td>{{ cRTestDop.enonce }}</td>
                <td>{{ cRTestDop.destinataire }}</td>
                <td>{{ cRTestDop.expediteur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('crtestdop_show', { 'id': cRTestDop.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('crtestdop_edit', { 'id': cRTestDop.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('crtestdop_new') }}">Create a new cRTestDop</a>
        </li>
    </ul>
{% endblock %}
