{% extends 'UserBundle::layout2.html.twig' %}

{% block crnew %}
    <h1>Crtestdop creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('crtestdop_index') }}">les conte rendu</a>
        </li>
        <li>
            <a href="{{ path('testdopage_index') }}">les testdopaget</a>
        </li>
    </ul>
{% endblock %}
