{% extends 'UserBundle::layout2.html.twig' %}

{% block crshow %}
    <h1>Crtestdop{{ cRTestDop.enonce }}</h1>

    <table class="table  table-hover table-striped header-fixed" id="mytab">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cRTestDop.id }}</td>
            </tr>
            <tr>
                <th>Enonce</th>
                <td>{{ cRTestDop.enonce }}</td>
            </tr>
            <tr>
                <th>Destinataire</th>
                <td>{{ cRTestDop.destinataire }}</td>
            </tr>
            <tr>
                <th>Expediteur</th>
                <td>{{ cRTestDop.expediteur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('crtestdop_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('crtestdop_edit', { 'id': cRTestDop.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('afficher_pdf',{'id':cRTestDop.id}) }}">telecharger le conte-rendu</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
