{% extends "UserBundle::layout.html.twig" %}

{% block topMenu %}
    {% include "UserBundle:Admin:AdminMenuBar.html.twig" %}
{% endblock topMenu%}
{% block content %}
    <div class="container background-white">
    <h2 align="center"> Acceuil accessible a ROLE_FONCTIONNAIRE </h2>
        </div>
    {% block testdopage %}
    {% endblock testdopage %}

{% endblock %}