
<div id="hornav" class="container no-padding">
    <div class="row">
        <div class="col-md-12 no-padding">
            <div class="text-center visible-lg">
                <ul id="hornavmenu" class="nav navbar-nav">
                    <li>
                        <a href="{{ path('acceuil_homepage') }}" class="fa-home">Home</a>
                    </li>
                    <li>
                        <span class="fa-gears">Gestion Comptes</span>
                        <ul>
                            <li class="parent">
                                <span>Typography</span>
                                <ul>
                                    <li>
                                        <a href="features-typo-basic.html">Basic Typography</a>
                                    </li>
                                    <li>
                                        <a href="features-typo-blockquotes.html">Blockquotes</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="parent">
                                <span>Components</span>
                                <ul>
                                    <li>
                                        <a href="features-labels.html">Labels</a>
                                    </li>
                                    <li>
                                        <a href="features-progress-bars.html">Progress Bars</a>
                                    </li>
                                    <li>
                                        <a href="features-panels.html">Panels</a>
                                    </li>
                                    <li>
                                        <a href="features-pagination.html">Pagination</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="fa-bar-chart">anything</span>
                    </li>

                    <li>
                        <a href="{{ path('fos_user_security_logout') }}" class="fa-sign-out">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>