{% extends 'UserBundle::layout2.html.twig' %}

{% block testdopage %}
<div class="container background-white">
    <h1>Testdopages list</h1>

    <table class="table  table-hover table-striped header-fixed" id="mytab">
        <thead>
        <tr>

            <th>Date</th>
            <th>Joueur</th>
            <th>medecin</th>
            <th>Adresse</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for testDopage in testDopages %}
            <tr>

                <td>{% if testDopage.date %}{{ testDopage.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ testDopage.idJoueur.nom }}</td>
                <td>{{ testDopage.idMedecin.nom }}</td>
                <td>{{ testDopage.adresse }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('testdopage_show', { 'id': testDopage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('testdopage_edit', { 'id': testDopage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('testdopage_new') }}">Create a new testDopage</a>

        </li>

    </ul>
    </div>
{% endblock %}
