{% extends "UserBundle::layout.html.twig" %}

    {% block topMenu %}
        {% include "UserBundle:acceuil:acceuilMenuBar.html.twig" %}
    {% endblock topMenu%}

{% block content %}
    <div class="container background-white">
<h2 align="center"> Welcome </h2>

        <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/21017579&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>





    </div>
{% endblock content %}