
<div id="hornav" class="container no-padding">
    <div class="row">
        <div class="col-md-12 no-padding">
            <div class="text-center visible-lg">
                <ul id="hornavmenu" class="nav navbar-nav">
                    <li>
                        <a href="{{ path('acceuil_homepage') }}" class="fa-home">Home</a>
                    </li>
                    <li>
                        <span class=""> Evenement</span>
                        <ul>
                            <li> <a href="#">Derniers Evenements</a>

                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="{{ path('afficher_pari') }}"> Pari et Pronostics</a>
                    </li>

                    <li>
                        <a href="{{ path('fos_user_registration_register') }}" class="fa-user">Registration</a>
                    </li>


                    <li>
                        <a href="{{ path('fos_user_security_login') }}" class="fa-sign-in">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
