{% extends "UserBundle::layout.html.twig" %}
{% block topMenu %}
    {% include "UserBundle:acceuil:acceuilMenuBar.html.twig" %}
{% endblock topMenu%}
{% block content %}
    <div class="container background-white">
        <hr>
        <div class="row">




                <div class="panel panel-default">

                    {%  if flag=='yes' %}
                    <div class="panel-heading">

        <h2 align="center"> Pari:  {{ pari.date|date }}</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">

                            {% for i in 1..12 %}
                            <li class="" ><a align="center" >{{ pari.idMatch(i).idJoueur1.nom }} -- Vs -- {{ pari.idMatch(i).idJoueur2.nom }}  </a></li>
                           {% endfor %}

                         </ul>
                    </div>
                    <div class="panel-footer" align="center">
                        <p>   Voullez vous Jouer ? Veuillez vous  <a href="{{ path('fos_user_security_login') }}">connecter </a> D'abord</p>
                    </div>
                        {% endif %}

                    {% if flag=='no' %}

                        <h1 align="center"> Pas de Pari Desponible Pour le Moment </h1>
                        {% endif %}




                </div>


        </div>
        <hr>

    </div>
{% endblock %}