{% extends 'UserBundle::layout2.html.twig' %}

{% block tdedit %}
    <h1>Testdopage edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('testdopage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('crtestdop_new') }}">rediger le conte rendu</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>

    </ul>
{% endblock %}

