{% extends 'UserBundle::layout2.html.twig' %}

{% block testdopage %}
    <h1>Testdopages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testDopage in testDopages %}
            <tr>
                <td><a href="{{ path('testdopage_show', { 'id': testDopage.id }) }}">{{ testDopage.id }}</a></td>
                <td>{% if testDopage.date %}{{ testDopage.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ testDopage.adresse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('testdopage_show', { 'id': testDopage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('testdopage_edit', { 'id': testDopage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('testdopage_new') }}">Create a new testDopage</a>
        </li>
    </ul>
{% endblock %}
