{% extends 'UserBundle::layout2.html.twig' %}

{% block tdnew %}
    <h1>Testdopage creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('testdopage_index') }}">Back to the list</a>
        </li>

    </ul>
{% endblock %}
