{% extends 'UserBundle::layout2.html.twig' %}

{% block tdshow %}
    <h1>Testdopage {{ testDopage.adresse }}</h1>

    <table class="table  table-hover table-striped header-fixed" id="mytab">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ testDopage.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if testDopage.date %}{{ testDopage.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ testDopage.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('testdopage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('testdopage_edit', { 'id': testDopage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
