{% extends "UserBundle::layout2.html.twig" %}


{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Liste des Joueurs
            </h1>

        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover" border="1">
                <tr><th><a href="{{ path('ajout_Joueur') }}" >Ajouter</a></th></tr>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Rang</th>
                    <th>Adresse</th>
                    <th>Date de Naissance</th>
                    <th>Sexe</th>
                    <th>Nationalite</th>
                    <th></th>
                </tr>
                {% for joueur in joueurs %}
                <tr>
                    <td>{{joueur.id  }}</td>
                    <td>{{joueur.nom  }}</td>
                    <td>{{joueur.prenom  }}</td>
                    <td>{{joueur.email  }}</td>
                    <td>{{joueur.rang  }}</td>
                    <td>{{joueur.adresse  }}</td>
                    <td>{{joueur.dateNaissance | date  }}</td>
                    <td>{{joueur.sex  }}</td>
                    <td>{{joueur.nationalite  }}</td>
                    <td><a href="{{ path('delete_Joueur',{'id':joueur.id}) }}" >Delete</a></td>
                    <td><a href="{{ path('update_Joueur',{'id':joueur.id}) }}">Update</a></td>

                    {#  <td><a href="{{ path('Delete',{'id':joueur.id}) }}" >Delete</a></td>
                      <td><a href="{{ path('Update',{'id':joueur.id}) }}" target="_blank">Update</a></td> #}

                    {% endfor %}

                </tr>


            </table>
        </div>
    </div>
    <!-- /.row -->

{% endblock %}