{# src/Acme/BlogBundle/Resources/views/Author/validate.html.twig #}
<h3>The Player has the following errors</h3>
<ul>
    {% for error in errors %}
        <li>{{ error.message }}</li>
    {% endfor %}
</ul>