
{% block content %}
<div class="container background-white">
    <div class="row" id="r2">
        <div class="col-lg-3"> </div>
        <div class="col-lg-6 panel panel-primary" id="formAjout">
Bonjour Mr/Mme {{ nom }} {{ prenom }}
<br>

          {{ text }}
<br>



    Merci d'avoir nous contacter
        </div></div></div></div>
{% endblock %}