{% extends "UserBundle::layout2.html.twig" %}
{% block content %}
    <div class="container background-white">
    <div class="row" id="r2">
    <div class="col-lg-3"> </div>
    <div class="col-lg-6 panel panel-primary" id="formAjout">
<body>
<h2> <strong> Formulaire De Contact</strong> </h2>
<hr> <h3><p> Contacter nous </p></h3>
{{ form_start (form) }}
<table> <tr>
        <td> Nom </td>
        <td> {{ form_widget (form.nom) }} </td>
    </tr>
    <tr> <td> Prenom </td> <td> {{ form_widget (form.prenom) }} </td> </tr>
    <tr> <td> Téléphone </td> <td> {{ form_widget (form.tel) }} </td> </tr>
    <tr> <td> Email </td> <td> {{ form_widget (form.email) }} </td> </tr>
    <tr> <td> Text </td> <td> {{ form_widget (form.text) }} </td> </tr>
</table> {{ form_end (form) }}</div></div></div></div>
</body>{% endblock %}