

<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 80%;margin:0.5%; padding:0.5%;
        }
    </style>
</head>
<body>
lattitude:     <input id="Lat" name="lt"><br>
longitude:<input id="Lng" name="lg"><br>
<button>
<a href="{{ path('stade_index') }}">Back to the list</a>
</button>
<div id="map"></div>
<script>

    var map;
    function initMap() {
        var myLatlng = new google.maps.LatLng({{ Latitudes }},{{ Longitudes }});
        var myLatlng1 = new google.maps.LatLng(36.8360642,9.903306);
        var myLatlng2 = new google.maps.LatLng(36.7707559,10.2368519);
        var myLatlng3 = new google.maps.LatLng(36.8402106,10.1607643);
        var myLatlng4 = new google.maps.LatLng(36.8402479,9.6026501);
        var myLatlng5 = new google.maps.LatLng(36.8402479,9.0423474);
        map = new google.maps.Map(document.getElementById('map'), {
            center: myLatlng,
            zoom: 8
        });


        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Hello World!'
        });
        marker.setMap(map);
        var marker1 = new google.maps.Marker({
            position: myLatlng1,
            map: map,
            title: 'Hello World!'
        });
        marker1.setMap(map);
        var marker2 = new google.maps.Marker({
            position: myLatlng2,
            map: map,
            title: 'Hello World!'
        });
        marker2.setMap(map);
        var marker3 = new google.maps.Marker({
            position: myLatlng3,
            map: map,
            title: 'Hello World!'
        });
        marker3.setMap(map);
        var marker4 = new google.maps.Marker({
            position: myLatlng4,
            map: map,
            title: 'Hello World!'
        });
        marker4.setMap(map);

    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVIGHXx-bL-eWdhGefT2jEhRxlbSRhOVU&callback=initMap"
        async defer></script>




</body>
</html>
