{% extends "UserBundle::layout2.html.twig" %}


{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Liste des Reservations
            </h1>

        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

            <table border="1">
                <tr><th><a href="{{ path('ajout_Reservation') }}" >Ajouter</a></th></tr>

                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Match</th>
                    <th>Nombre des tickets</th>
                </tr>
                {% for v in reservations %}
                <tr>
                    <td>{{v.id  }}</td>
                    <td>{{ v.idUser.nom }}</td>
                    <td>{{ v.idMatch.id }}</td>
                    <td>{{ v.nbreTicketReserve }}</td>
                    <td><a href="{{ path('delte_Reservation',{'id':v.id}) }}" >Delete</a></td>
                    <td><a href="{{ path('update_Reservation',{'id':v.id}) }}">Update</a></td>

                    {% endfor %}

                </tr>


            </table>

            {#<table border="1">#}
                {#<tr><th><a href="{{ path('ajout_Joueur') }}" >Ajouter</a></th></tr>#}
                {#<tr>#}
                    {#<th>ID</th>#}
                    {#<th>ID_User</th>#}
                    {#<th>ID_Match</th>#}
                    {#<th>Nombre de reservations</th>#}

                {#</tr>#}
                {#{% for res in reservations %}#}
                {#<tr>#}
                    {#<td>{{res.id  }}</td>#}
                    {#<td>{{res.idUser  }}</td>#}
                    {#<td>{{res.idMatch  }}</td>#}
                    {#<td>{{res.nbreTicketReserve  }}</td>#}

                    {#  <td><a href="{{ path('Delete',{'id':joueur.id}) }}" >Delete</a></td>#}
                      {#<td><a href="{{ path('Update',{'id':joueur.id}) }}" target="_blank">Update</a></td> #}

                    {#{% endfor %}#}

                {#</tr>#}


            {#</table>#}
        </div>
    </div>
    <!-- /.row -->

{% endblock %}