{% extends "UserBundle::layout2.html.twig" %}


{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Ajout d'une reservation
            </h1>

        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            {{ form(formes) }}
            {{ form_errors(formes) }}
        </div>
    </div>
    <!-- /.row -->

{% endblock %}

