{% extends "UserBundle::layout.html.twig" %}
{% block topMenu %}
    {% include "UserBundle:User:UserMenuBar.html.twig" %}
{% endblock topMenu%}
{% block content %}
    <div class="container background-white">
    <h2 align="center"> Acceuil accessible a ROLE_USER </h2>
        {{ socialButtons() }}
        </div>
{% endblock %}