{% extends "UserBundle::layout.html.twig" %}
{% block topMenu %}
    {% include "UserBundle:User:UserMenuBar.html.twig" %}
{% endblock topMenu%}
{% block content %}
    <div class="container background-white">
        <br>
        <div class="row">

            <div class="col-md-4">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 id="tt"> Vos Coupons: </h3>
                    </div>
                    <div class="panel-body" id="target1">
                        {% for c in coupons %}
                            <div class='panel panel-{% if c.status == 0 %}green{% endif  %}{% if c.status == 1 %}red{% endif  %}{% if c.status == 2 %}yellow{% endif  %}'>
                            <div class='panel-heading' style="cursor: pointer;"  onclick="showme('b{{ c.id*5 }}')">
                            {{ c.date.format('Y-m-d') }}

                            {% if c.status == 0 %}
                            :actif
                            {% endif  %}

                            {% if c.status == 1 %}
                            :perdant
                            {% endif  %}

                             {% if c.status == 2 %}
                            :gagnant
                            {% endif  %}
                            </div>
                            <div  id='b{{ c.id*5 }}' class='panel-body' style="display:none;">

                                {% for i in 1..12 %}
                                {{ c.idParis.idMatch(i).idJoueur1.nom }} Vs {{ c.idParis.idMatch(i).idJoueur2.nom }}_rep:{{ c.reponse|slice(i-1,1) }}
                                <br>
                                {% endfor %}

                            </div>
                            </div>

                        {% endfor %}
                    </div>

                </div>

            </div>

            <div class="col-md-8">

                <div class="panel panel-default">

                    {%  if flag=='yes' %}


                        <div class="panel-heading">

                            <h2 align="center"> Pari:  {{ dd.format('Y-m-d') }}   <button class="btn btn-primary" id="parier"> <i class="fa fa-plus-circle"></i> Parier </button>  </h2>

                            <div class="progress progress-striped active" id="loading">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ loadin }}"
                                     aria-valuemin="0" aria-valuemax="100" style="width: {{ loadin }}%;">
                                    <span class="sr-only" id="spn"> {{ loadin }}% passé </span>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <form id="frm">

                          <div class="col-lg-6">
                                <ul class="nav nav-pills nav-stacked">
                                    {% for i in 1..6 %}
                                        <li class="" >
                                            <b>Match{{ i }}</b>
                                            <a align="center" >{{ pari.idMatch(i).idJoueur1.nom }}
                                                <input type="radio" name="choix{{ i }}" value="1" style="display:none" >  Vs
                                                <input type="radio" name="choix{{ i }}" value="2" style="display:none" >
                                                {{ pari.idMatch(i).idJoueur2.nom }}  </a></li>
                                    {% endfor %}

                                </ul>
                          </div>

                          <div class="col-lg-6">
                                <ul class="nav nav-pills nav-stacked">
                                    {% for i in 7..12 %}
                                        <li class="" >
                                            <b>Match{{ i }}</b>
                                            <a align="center" >{{ pari.idMatch(i).idJoueur1.nom }}
                                                <input type="radio" name="choix{{ i }}" value="1" style="display:none" >  Vs
                                                <input type="radio" name="choix{{ i }}" value="2" style="display:none" >
                                                {{ pari.idMatch(i).idJoueur2.nom }}  </a></li>
                                    {% endfor %}

                                </ul>
                          </div>
                            </form>
                        </div>
                        <div class="panel-footer" align="center">
                            <button class="btn btn-success" id="valider" style="display:none" onclick="valider()" >
                                <i class="fa fa-plus-circle"></i> Valider
                            </button>
                            <button type="button" class="btn btn-danger" id="annuler" style="display:none">
                                <i class="fa fa-plus-circle"></i> Annuler
                            </button>
                        </div>

                {% endif %}

                {% if flag=='no' %}

                    <h1 align="center"> Pas de Pari Desponible Pour le Moment </h1>
                {% endif %}




            </div>

            </div>
        </div>

        <div id="dynamic" class="col-lg-12"> </div>

    </div>
{% endblock %}

{% block myscript %}
    <script>


        $(document).ready(
                function () {

                $('#loading').hover(function() {
                    $('#spn').attr('class','');
                });
                    $('#loading').mouseleave(function() {
                        $('#spn').attr('class','sr-only');
                    });


                $('#parier , #annuler ').click(function () {

                    $('#frm').trigger("reset");
                    $('input[type=radio]').toggle('slow');
                    $('#parier').toggle('slow');
                    $('#valider').toggle('slow');
                    $('#annuler').toggle('slow');


                });
                });



        function valider()
        {
            rep="";
            for (i=1;i<13;i++)
            {
                var name = 'choix'+i;
                var myselector= 'input[name='+name+']:checked';
                var choix= $(myselector).val()+"";
                if (choix.length !=1)
                { alert('Veuillez Completer vos reponses');
                    return ;
                }
                rep= rep+choix;
            }

            //alert(rep);
            $('input[type=radio]').toggle('slow');
            $('#parier').toggle('slow');
            $('#valider').toggle('slow');
            $('#annuler').toggle('slow');
            $('#tt').append("<i class='fa fa-circle-o-notch fa-spin' style='font-size:24px'></i>");



            var request = $.ajax({
                url:"{{ path('ajouter_coupon') }}",
                method: "POST",
                data: { "reponse":rep },
                //dataType: "html"
            });

            request.done(function( msg ) {
                //  alert(msg);
                if (msg=="no")
                    alert("Jetons insufisants")
                else
                $( "#target1" ).append( msg );

                $('.fa-spin').remove();
            });

            request.fail(function( jqXHR, textStatus ) {
                alert( "Request failed: " + textStatus );
            });




            /*
            var xhr= new XMLHttpRequest();
            xhr.open("POST","",true);
            xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xhr.send("reponse="+rep);


            function result()
            {   ch1="";
                ch=xhr.responseText;
                if (ch=="no")
                {
                    alert("Jetons insufisants");
                    $('.fa-spin').remove();

                }
                else{
                    if (ch!= ch1 && ch!="")
                    {
                        alert(ch);
                        alert (ch1);
                        ch1=ch;

                        $('#target1').append(ch);
                        $('.fa-spin').remove();}
                    }


            }

            xhr.onreadystatechange = result;
            return ;
*/
        }



        function showme(nb)
        {

          sel = '#'+nb;
            $(sel).toggle('slow');

        }





    </script>
{% endblock %}