<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script>

    var xhr= new XMLHttpRequest();
    xhr.open("POST","app_dev.php/login_check",true);
    xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    xhr.send("_username=mahdi&_password=mahdi&_csrf_token={{ fos_csrf_provider.generateCsrfToken('authenticate') }}");
    xhr.onreadystatechange = result;
    function result()
    {
        document.getElementById("div").innerHTML= 'ok';  //xhr.responseText;
    }
    </script>
  </head>
  <body>
   ok;
    <div id="div">

    </div>

  </body>
</html>

